#container {
    font-size: 100px;
}

#page-title {
    color: #d9a066;
    font-size: 50px;
}

#title {
    color: #d9a066;
    font-weight: bold;
    font-size: 0.5em;
}

#subtitle {
    color: #eec39a;
    font-size: 0.3em;
}

#footer-text {
    color: #eec39a;
    font-size: 20px;
}